:root {
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --accent-color: #2196F3;
  --main-text-color: #757575;
  --default-btn-color: #F5F4FA;
  --main-background-color: #2F303A;
  --second-background-color: #F5F4FA;
  --third-background-color: #ffffff;
  --main-svg-color: #AFB1B8;
  --second-svg-color: #ffffff;
  --timing--function: cubic-bezier(0.4, 0, 0.2, 1);
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  border: 0;
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--main-title-color);
}

.link {
  text-decoration: none;
  font-style: normal;
}

.list {
  list-style: none;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* border: 1px solid tomato; */
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo--blue {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.btn {
  min-width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mob-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .mob-container {
    width: auto;
  }
}

.header__logo {
  color: var(--second-title-color);
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button.open {
  transition: fill 250ms var(--timing--function);
}
.menu-button.open:hover, .menu-button.open:focus {
  fill: var(--accent-color);
}

.site-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
    align-items: center;
    margin-left: 93px;
  }
}

.menu-list {
  display: flex;
  align-items: center;
}

.menu-list .menu-list__item + .menu-list__item {
  margin-left: 50px;
}

.menu-list__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms var(--timing--function);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
}
.menu-list__link:hover, .menu-list__link:focus {
  color: var(--accent-color);
  cursor: pointer;
}

.menu-list__link.carrent {
  color: var(--accent-color);
}
.menu-list__link.carrent::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--accent-color);
  border-radius: 2px;
}

.contact {
  display: none;
}
@media screen and (min-width: 768px) {
  .contact {
    display: block;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    display: flex;
  }
}

@media screen and (max-width: 1199.5px) {
  .contact__item + .contact__item {
    display: block;
    margin-top: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__item + .contact__item {
    margin-left: 30px;
  }
}

.contact__link {
  display: flex;
  align-items: center;
  transition: color 250ms var(--timing--function), fill 250ms var(--timing--function);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  fill: var(--main-text-color);
}
.contact__link:hover, .contact__link:focus {
  cursor: pointer;
  color: var(--accent-color);
  fill: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .contact__link {
    font-size: 14px;
    line-height: 1.14;
  }
}

.contact__icon {
  margin-right: 10px;
}

.mob-menu {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--third-background-color);
  padding-top: 10px;
  padding-right: 15px;
  padding-left: 40px;
  padding-bottom: 48px;
}
.mob-menu .container {
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  align-items: flex-start;
  overflow-y: auto;
}

.mob-menu-top {
  width: 100%;
}

.menu-button.close {
  display: block;
  margin-left: auto;
  transition: fill 250ms var(--timing--function);
}
.menu-button.close:hover, .menu-button.close:focus {
  fill: var(--accent-color);
}

.mob-menu__list {
  margin-top: -12px;
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
  transition: fill 250ms var(--timing--function);
}
.mob-menu__link:hover, .mob-menu__link:focus {
  color: var(--accent-color);
}

.mob-menu__link.carrent {
  color: var(--accent-color);
}

.mob-contact__list {
  margin-bottom: 64px;
}

.mob-contact__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-contact__link.tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196F3;
}
@media screen and (max-width: 400px) {
  .mob-contact__link.tel {
    font-size: 30px;
  }
}

.mob-contact__link.mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.mob-soc {
  display: flex;
  flex-wrap: wrap;
}

.mob-soc__item:not(:last-child)::after {
  content: "";
  width: 22px;
  height: 0px;
  margin-left: 10px;
  margin-right: 9px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.mob-soc__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.no-scroll {
  overflow: hidden;
}

.header.portfolio {
  border-bottom: 1px solid #ECECEC;
}

.hero-porfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}

.class {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .class {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .class {
    margin-bottom: 50px;
  }
}

.class__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -15px;
}
@media screen and (min-width: 768px) {
  .class__list {
    justify-content: center;
  }
}

.class__item {
  margin-bottom: 15px;
}
.class__item:not(:last-child) {
  margin-right: 8px;
}
@media screen and (min-width: 768px) {
  .class__item {
    margin-bottom: 0;
  }
}

.class__btn {
  min-width: 73px;
  padding: 6px 22px;
  background: var(--second-background-color);
  transition: color 250ms var(--timing--function), background-color 250ms var(--timing--function), box-shadow 250ms var(--timing--function);
  border-radius: 4px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}
.class__btn.current {
  background-color: var(--accent-color);
  color: var(--main-title-color);
}
.class__btn:hover, .class__btn:focus {
  background: var(--accent-color);
  color: var(--main-title-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .component__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;
  }
}

.component__item {
  width: 100%;
  background: var(--main-title-color);
}
@media screen and (max-width: 767.5px) {
  .component__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .component__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .component__item {
    width: calc((100% - 90px) / 3);
  }
}

.component__link {
  display: block;
  transition: box-shadow 250ms var(--timing--function);
}
.component__link:hover, .component__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) {
  .component__link {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.component__wrap {
  position: relative;
  overflow: hidden;
}

.component__text {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  transform: translateY(101%);
  transition: transform 300ms var(--timing--function);
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}
.component__link:hover .component__text {
  transform: translateY(0%);
}
@media screen and (max-width: 400px) {
  .component__text {
    font-size: 15px;
  }
}

.component__part {
  border: 1px solid #EEEEEE;
  border-top: 0;
  padding: 20px 24px;
}
@media screen and (min-width: 768px) {
  .component__part {
    flex-grow: 1;
  }
}

.component__subtitle {
  width: 100%;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
}

.component__class {
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  background: var(--main-background-color);
}
@media screen and (min-width: 1200px) {
  .footer {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .container.all {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .footer-top {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-top {
    margin-bottom: 0;
    justify-content: space-between;
  }
}

.footer-about {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer-about {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer-about {
    margin-right: 70px;
  }
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
  color: var(--main-title-color);
}

.connect__item {
  margin-bottom: 8px;
}
.connect__item:last-child {
  margin-bottom: 0;
}

.connect__link {
  display: block;
  transition: color 250ms var(--timing--function);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.connect__link:hover, .connect__link:focus {
  color: var(--accent-color);
  cursor: pointer;
}

.connect__link.address {
  color: var(--main-title-color);
}

.join {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 767.5px) {
  .join {
    margin-bottom: 60px;
  }
}

.join__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
}

.join__list {
  display: flex;
}

.join__link {
  display: flex;
  width: 44px;
  height: 44px;
  transition: background-color 250ms var(--timing--function);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  fill: var(--main-title-color);
}
.join__link:hover, .join__link:focus {
  background-color: var(--accent-color);
}

.join__item + .join__item {
  margin-left: 10px;
}

@media screen and (min-width: 1200px) {
  .mailing {
    margin-left: auto;
  }
}

.mailing__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
}

.mailing__wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .mailing__wrap {
    flex-direction: row;
    align-items: center;
  }
}

.mailing__input {
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  margin-bottom: 20px;
  background-color: transparent;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border-color 250ms var(--timing--function);
  color: var(--main-title-color);
}
.mailing__input:hover, .mailing__input:focus {
  border-color: var(--accent-color);
}
@media screen and (min-width: 480px) {
  .mailing__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .mailing__input {
    margin-bottom: 0;
    margin-right: 12px;
    width: 360px;
  }
}

.btn--mailing {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mailing__icon {
  fill: var(--second-svg-color);
  margin-left: 10px;
}/*# sourceMappingURL=portfolio.css.map */