.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;

    transition: 
    opacity 250ms var(--timing--function),
    visibility 250ms var(--timing--function);
}

.modal{
    width: 450px;
    // min-height: 609px;
    padding: 40px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    border-radius: 4px;
    background-color: var(--third-background-color);
    box-shadow: 
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);

        @media screen and (max-width: 479.9px){
            width: 90%;
        }

        @include desktop{
            width: 528px;
        }
}

.modal__close-btn{
    width: 30px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8px;
    right: 8px;

    border-radius: 50%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);

    transition: fill 250ms var(--timing--function);

    &:hover,
    &:focus{
        fill: var(--accent-color);
    }
}

.modal__title{
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-title-color);

    @media screen and (max-width: 479.9px){
        font-size: 17px;
    }

    @include desktop{
        line-height: 1.15;
    }
}

.modal__field{
    margin-bottom: 10px;

    &.text{
        margin-bottom: 20px;
    }

    &.check{
        margin-bottom: 30px;
    }
}

.modal__lable{
    display: flex;
    margin-bottom: 4px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--main-text-color);
}

.modal__input{
    width: 100%;
    height: 40px;
    padding: 12px 16px 12px 42px;
    outline: none;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border-color 250ms var(--timing--function);

    &:hover,
    &:focus{
        border-color: var(--accent-color);
    }
    
    &:hover + .modal__icon,
    &:focus + .modal__icon{
        fill: var(--accent-color);
    }

    @media screen and (max-width: 479.9px){
        height: 35px;
    }
}

.modal__input-wrap{
    position: relative;
}

.modal__icon{
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);

    transition: fill 250ms var(--timing--function);
}

.modal__text{
    width: 100%;
    height: 120px;
    padding: 12px 16px;

    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;

    transition: border-color 250ms var(--timing--function);

    &:hover,
    &:focus{
        border-color: var(--accent-color);
    }

    &::placeholder{
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }

    @media screen and (max-width: 479.9px){
        height: 100px;
    }
}

.modal__lable-check{
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--main-text-color);

    & span{
        width: 16px;
        height: 15px;
        margin-right: 7px;
        border: 2px solid #212121;
        border-radius: 3px;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        transition: 
        background-color 250ms var(--timing--function),
        border 250ms var(--timing--function);
    }

    &:hover span{
        border-color: var(--accent-color);
    }

    @include desktop{
        font-size: 14px;
        line-height: 1.71;
    }
}

.modal__check-icon{
    fill: transparent;
    transition: fill 250ms var(--timing--function);
}

.modal__input-check{
    &:focus + .modal__lable-check span{
        border-color: var(--accent-color);
    }
    
    &:checked + .modal__lable-check span{
        background-color: var(--accent-color);
        border: none;
    }
    
    &:checked + .modal__lable-check .modal__check-icon{
        fill: #FFFFFF;
    }
}

.modal__policy-link{
    text-decoration-line: underline;
    color: var(--accent-color);
}

.btn--modal{
    display: block;
    margin: 0 auto;

    transition: background-color 250ms var(--timing--function);

    &:hover,
    &:focus{
        background-color:#188CE8;
    }
}