:root{
    --main-title-color: #ffffff;
    --second-title-color: #212121;
    --accent-color: #2196F3;
    --main-text-color: #757575;
    --default-btn-color: #F5F4FA;
    --main-background-color: #2F303A;
    --second-background-color: #F5F4FA;
    --third-background-color: #ffffff;
    --main-svg-color: #AFB1B8;
    --second-svg-color: #ffffff;
    --timing--function: cubic-bezier(0.4, 0, 0.2, 1);
}